{% extends 'motocross/base.html' %}

{% block title %}Crear Moto - Yamaha Motocross Blog{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h3 class="mb-0">Agregar Nueva Moto</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'lista_motos' %}" class="btn btn-secondary">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Guardar Moto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
